WebserverCode/Node-RedServer.json
[
    {
        "id": "10c66f10836149a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "599740b7.efde9",
        "type": "http response",
        "z": "10c66f10836149a5",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "1618a829.76f638",
        "type": "json",
        "z": "10c66f10836149a5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 830,
        "y": 760,
        "wires": [
            [
                "d0089cc7.d25ac"
            ]
        ]
    },
    {
        "id": "c7410fa2.1c2fa",
        "type": "debug",
        "z": "10c66f10836149a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "d0089cc7.d25ac",
        "type": "function",
        "z": "10c66f10836149a5",
        "name": "JSON or URL Encoded",
        "func": "var msg1 = { payload: msg.payload.value1 };\nvar msg2 = { payload: msg.payload.value2 };\nvar msg3 = { payload: msg.payload.value3 };\nvar msg4 = { payload: msg.payload.value4 };\n\n\nreturn [ msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "0d100979a28f0745"
            ],
            [
                "6a9ae616ac6f5c47"
            ],
            [
                "1696cba51ad183b4"
            ],
            [
                "dc803fbc4265f27d"
            ]
        ]
    },
    {
        "id": "5d9ab0d2.66b92",
        "type": "http in",
        "z": "10c66f10836149a5",
        "name": "",
        "url": "update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 620,
        "y": 611,
        "wires": [
            [
                "599740b7.efde9",
                "c7410fa2.1c2fa",
                "1618a829.76f638"
            ]
        ]
    },
    {
        "id": "0d100979a28f0745",
        "type": "ui_chart",
        "z": "10c66f10836149a5",
        "name": "",
        "group": "9d0ed40e36d6fd92",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "PitchAngle",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1310,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6a9ae616ac6f5c47",
        "type": "ui_chart",
        "z": "10c66f10836149a5",
        "name": "",
        "group": "9d0ed40e36d6fd92",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "RollAngle",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1300,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1696cba51ad183b4",
        "type": "ui_chart",
        "z": "10c66f10836149a5",
        "name": "",
        "group": "9d0ed40e36d6fd92",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "YawAngle",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1300,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "dc803fbc4265f27d",
        "type": "ui_chart",
        "z": "10c66f10836149a5",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Height",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1290,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9d0ed40e36d6fd92",
        "type": "ui_group",
        "name": "Orientation",
        "tab": "13bb993bfae765db",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "Height",
        "tab": "13bb993bfae765db",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "13bb993bfae765db",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
